In [2]:
import pandas as pd

In [4]:
df=pd.read_parquet("data/one.parquet", engine="pyarrow")
df

            code  category   price      date
0              1         5  1.0000  20011218
1              1         5  1.0000  20011221
2              1         5  1.0000  20011228
3              1         5  1.0000  20011231
4              1         5  1.0000  20020104
...          ...       ...     ...       ...
18214838  980003         5  1.5568  20230203
18214839  980003         5  1.5573  20230206
18214840  980003         5  1.5575  20230207
18214841  980003         5  1.5577  20230208
18214842  980003         5  1.5579  20230209

[18214843 rows x 4 columns]

In [5]:
df["code"].unique()

array([     1,      3,      4, ..., 970207, 970208, 980003], dtype=int32)

In [14]:
df2["code"].unique()

array([ 20001,  20002,  20003, ..., 970207, 970208, 980003], dtype=int32)

In [13]:
df3=pd.read_parquet("data/003000.parquet", engine="pyarrow")
df3

         code  category   price      date
0           1         5  1.0000  20011218
1           1         5  1.0000  20011221
2           1         5  1.0000  20011228
3           1         5  1.0000  20011231
4           1         5  1.0000  20020104
...       ...       ...     ...       ...
4363312  2999         5  1.0189  20180308
4363313  2999         5  1.0200  20180309
4363314  2999         5  1.0189  20180312
4363315  2999         5  1.0186  20180313
4363316  2999         5  1.0165  20180314

[4363317 rows x 4 columns]

In [15]:
df3["code"].unique()

array([   1,    3,    4, ..., 2997, 2998, 2999], dtype=int32)

In [17]:
df4=pd.read_parquet("data/006000.parquet", engine="pyarrow")
df4["code"].unique()

array([3000, 3001, 3002, ..., 5997, 5998, 5999], dtype=int32)

In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("/Users/lipi/Library/Mobile "
               "Documents/com~apple~CloudDocs/indicator/qt/stock.csv", encoding="utf-8")

In [11]:
df.head(10)

  1;"sh601200";"2020-01-16";"12.28";"12.31";"12.00";"12.03";"-0.017157000000";"7420700.00";"89560000.00";"10516000000.00";"10988000000.00";"0.008489000000";"15.804189000000";"2018-10-31 00:00:00";"2018-09-30";"20.826713000000";"N;"12.67056300";"1.891151000000";"12.03";"2020-01-18 15:21:19";"2020-01-18 15:21:19"
0  2;"sh601200";"2020-01-15";"12.33";"12.43";"12....
1  3;"sh601200";"2020-01-14";"12.03";"12.58";"11....
2  4;"sh601200";"2020-01-13";"12.10";"12.10";"11....
3  5;"sh601200";"2020-01-10";"12.20";"12.26";"11....
4  6;"sh601200";"2020-01-09";"11.87";"12.29";"11....
5  7;"sh601200";"2020-01-08";"11.71";"12.12";"11....
6  8;"sh601200";"2020-01-07";"11.50";"11.86";"11....
7  9;"sh601200";"2020-01-06";"11.19";"11.38";"11....
8  10;"sh601200";"2020-01-03";"11.29";"11.32";"11...
9  11;"sh601200";"2020-01-02";"11.16";"11.28";"11...

In [8]:
import xorbits.pandas as pd

ModuleNotFoundError: No module named 'xorbits'

In [1]:
pip install xorbits

Collecting xorbits
  Using cached xorbits-0.2.0-cp310-cp310-macosx_10_9_universal2.whl (5.2 MB)
Requirement already satisfied: pyyaml>=5.1 in /Users/lipi/github/arbeider/.env310/lib/python3.10/site-packages (from xorbits) (6.0)
Collecting tqdm>=4.1.0
  Using cached tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
Requirement already satisfied: defusedxml>=0.5.0 in /Users/lipi/github/arbeider/.env310/lib/python3.10/site-packages (from xorbits) (0.7.1)
Collecting scipy>=1.0.0
  Using cached scipy-1.10.1-cp310-cp310-macosx_12_0_arm64.whl (28.8 MB)
Collecting cloudpickle>=1.5.0
  Downloading cloudpickle-2.2.1-py3-none-any.whl (25 kB)
Requirement already satisfied: tornado>=6.0 in /Users/lipi/github/arbeider/.env310/lib/python3.10/site-packages (from xorbits) (6.2)
Collecting sqlalchemy>=1.2.0
  Downloading SQLAlchemy-2.0.4-cp310-cp310-macosx_11_0_arm64.whl (1.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 3.1 MB/s eta 0:00:0000:0100:010m
Collecting uvloop>=0.14.0
  Using cached uvloop-0.17.0-cp310-cp310-macosx_10_9_universal2.whl (2.1 MB)
Requirement already satisfied: psutil>=5.9.0 in /Users/lipi/github/arbeider/.env310/lib/python3.10/site-packages (from xorbits) (5.9.4)
Collecting pandas>=1.0.0
  Downloading pandas-1.5.3-cp310-cp310-macosx_11_0_arm64.whl (10.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 5.3 MB/s eta 0:00:0000:0100:01
Collecting scikit-learn>=0.20
  Using cached scikit_learn-1.2.1-cp310-cp310-macosx_12_0_arm64.whl (8.4 MB)
Collecting numpy>=1.14.0
  Downloading numpy-1.24.2-cp310-cp310-macosx_11_0_arm64.whl (13.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.9/13.9 MB 3.9 MB/s eta 0:00:0000:0100:01
Collecting pytz>=2020.1
  Using cached pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/lipi/github/arbeider/.env310/lib/python3.10/site-packages (from pandas>=1.0.0->xorbits) (2.8.2)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting joblib>=1.1.1
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Requirement already satisfied: six>=1.5 in /Users/lipi/github/arbeider/.env310/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=1.0.0->xorbits) (1.16.0)
Installing collected packages: pytz, uvloop, typing-extensions, tqdm, threadpoolctl, numpy, joblib, cloudpickle, sqlalchemy, scipy, pandas, scikit-learn, xorbits
Successfully installed cloudpickle-2.2.1 joblib-1.2.0 numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1 scikit-learn-1.2.1 scipy-1.10.1 sqlalchemy-2.0.4 threadpoolctl-3.1.0 tqdm-4.64.1 typing-extensions-4.5.0 uvloop-0.17.0 xorbits-0.2.0

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
import xorbits.pandas as pd

In [5]:
df = pd.read_csv("/Users/lipi/Library/Mobile "
                 "Documents/com~apple~CloudDocs/indicator/qt/stock.csv", encoding="utf-8")

In [7]:
df.head(10)

  0%|          |   0.00/100 [00:00<?, ?it/s]

  1;"sh601200";"2020-01-16";"12.28";"12.31";"12.00";"12.03";"-0.017157000000";"7420700.00";"89560000.00";"10516000000.00";"10988000000.00";"0.008489000000";"15.804189000000";"2018-10-31 00:00:00";"2018-09-30";"20.826713000000";"N;"12.67056300";"1.891151000000";"12.03";"2020-01-18 15:21:19";"2020-01-18 15:21:19"
0  2;"sh601200";"2020-01-15";"12.33";"12.43";"12....
1  3;"sh601200";"2020-01-14";"12.03";"12.58";"11....
2  4;"sh601200";"2020-01-13";"12.10";"12.10";"11....
3  5;"sh601200";"2020-01-10";"12.20";"12.26";"11....
4  6;"sh601200";"2020-01-09";"11.87";"12.29";"11....
5  7;"sh601200";"2020-01-08";"11.71";"12.12";"11....
6  8;"sh601200";"2020-01-07";"11.50";"11.86";"11....
7  9;"sh601200";"2020-01-06";"11.19";"11.38";"11....
8  10;"sh601200";"2020-01-03";"11.29";"11.32";"11...
9  11;"sh601200";"2020-01-02";"11.16";"11.28";"11...

In [8]:
df.head(10)

  0%|          |   0.00/100 [00:00<?, ?it/s]

  1;"sh601200";"2020-01-16";"12.28";"12.31";"12.00";"12.03";"-0.017157000000";"7420700.00";"89560000.00";"10516000000.00";"10988000000.00";"0.008489000000";"15.804189000000";"2018-10-31 00:00:00";"2018-09-30";"20.826713000000";"N;"12.67056300";"1.891151000000";"12.03";"2020-01-18 15:21:19";"2020-01-18 15:21:19"
0  2;"sh601200";"2020-01-15";"12.33";"12.43";"12....
1  3;"sh601200";"2020-01-14";"12.03";"12.58";"11....
2  4;"sh601200";"2020-01-13";"12.10";"12.10";"11....
3  5;"sh601200";"2020-01-10";"12.20";"12.26";"11....
4  6;"sh601200";"2020-01-09";"11.87";"12.29";"11....
5  7;"sh601200";"2020-01-08";"11.71";"12.12";"11....
6  8;"sh601200";"2020-01-07";"11.50";"11.86";"11....
7  9;"sh601200";"2020-01-06";"11.19";"11.38";"11....
8  10;"sh601200";"2020-01-03";"11.29";"11.32";"11...
9  11;"sh601200";"2020-01-02";"11.16";"11.28";"11...

In [11]:
df.head(10)

  0%|          |   0.00/100 [00:00<?, ?it/s]

  1;"sh601200";"2020-01-16";"12.28";"12.31";"12.00";"12.03";"-0.017157000000";"7420700.00";"89560000.00";"10516000000.00";"10988000000.00";"0.008489000000";"15.804189000000";"2018-10-31 00:00:00";"2018-09-30";"20.826713000000";"N;"12.67056300";"1.891151000000";"12.03";"2020-01-18 15:21:19";"2020-01-18 15:21:19"
0  2;"sh601200";"2020-01-15";"12.33";"12.43";"12....
1  3;"sh601200";"2020-01-14";"12.03";"12.58";"11....
2  4;"sh601200";"2020-01-13";"12.10";"12.10";"11....
3  5;"sh601200";"2020-01-10";"12.20";"12.26";"11....
4  6;"sh601200";"2020-01-09";"11.87";"12.29";"11....
5  7;"sh601200";"2020-01-08";"11.71";"12.12";"11....
6  8;"sh601200";"2020-01-07";"11.50";"11.86";"11....
7  9;"sh601200";"2020-01-06";"11.19";"11.38";"11....
8  10;"sh601200";"2020-01-03";"11.29";"11.32";"11...
9  11;"sh601200";"2020-01-02";"11.16";"11.28";"11...